In [19]:
import pandas as pd
import numpy as np
iris = pd.read_csv("../input/Iris.csv")
iris.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

In [7]:
print("Sum of sepal length: ", iris["SepalLengthCm"].sum())
print("Sum of sepal width: ", iris["SepalWidthCm"].sum())
print("Sum of petal length: ", iris["PetalLengthCm"].sum())
print("Sum of petal width: ", iris["PetalWidthCm"].sum())

Sum of sepal length:  876.5000000000002
Sum of sepal width:  458.10000000000014
Sum of petal length:  563.8000000000004
Sum of petal width:  179.8000000000001

In [13]:
iris.groupby("Species")["SepalLengthCm"].sum()

Species
Iris-setosa        250.3
Iris-versicolor    296.8
Iris-virginica     329.4
Name: SepalLengthCm, dtype: float64

In [14]:
iris.groupby("Species")["SepalWidthCm"].sum()

Species
Iris-setosa        170.9
Iris-versicolor    138.5
Iris-virginica     148.7
Name: SepalWidthCm, dtype: float64

In [16]:
iris.groupby("Species")["PetalLengthCm"].sum()

Species
Iris-setosa         73.2
Iris-versicolor    213.0
Iris-virginica     277.6
Name: PetalLengthCm, dtype: float64

In [15]:
iris.groupby("Species")["PetalWidthCm"].sum()

Species
Iris-setosa         12.2
Iris-versicolor     66.3
Iris-virginica     101.3
Name: PetalWidthCm, dtype: float64

In [21]:
#iris.groupby("Species").agg({'Sum': np.sum, 'Mean': np.mean})

In [23]:
setosa = iris['Species'].map(lambda x: x.startswith('Iris-setosa'))
versicolor = iris['Species'].map(lambda x: x.startswith('Iris-versicolor'))
virginica = iris['Species'].map(lambda x: x.startswith('Iris-virginica'))

bSetosa = iris[setosa]
bVersicolo = iris[versicolor]
bVirginica = iris[virginica]

In [24]:
bSetosa["PetalLengthCm"].mean()

1.464

In [25]:
iris.describe()

               Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
count  150.000000     150.000000    150.000000     150.000000    150.000000
mean    75.500000       5.843333      3.054000       3.758667      1.198667
std     43.445368       0.828066      0.433594       1.764420      0.763161
min      1.000000       4.300000      2.000000       1.000000      0.100000
25%     38.250000       5.100000      2.800000       1.600000      0.300000
50%     75.500000       5.800000      3.000000       4.350000      1.300000
75%    112.750000       6.400000      3.300000       5.100000      1.800000
max    150.000000       7.900000      4.400000       6.900000      2.500000

In [30]:
iris.groupby("Species")["SepalLengthCm"].describe()

                 count   mean       std  min    25%  50%  75%  max
Species
Iris-setosa       50.0  5.006  0.352490  4.3  4.800  5.0  5.2  5.8
Iris-versicolor   50.0  5.936  0.516171  4.9  5.600  5.9  6.3  7.0
Iris-virginica    50.0  6.588  0.635880  4.9  6.225  6.5  6.9  7.9

In [31]:
iris.groupby("Species")["SepalWidthCm"].describe()

                 count   mean       std  min    25%  50%    75%  max
Species
Iris-setosa       50.0  3.418  0.381024  2.3  3.125  3.4  3.675  4.4
Iris-versicolor   50.0  2.770  0.313798  2.0  2.525  2.8  3.000  3.4
Iris-virginica    50.0  2.974  0.322497  2.2  2.800  3.0  3.175  3.8

In [32]:
iris.groupby("Species")["PetalLengthCm"].describe()

                 count   mean       std  min  25%   50%    75%  max
Species
Iris-setosa       50.0  1.464  0.173511  1.0  1.4  1.50  1.575  1.9
Iris-versicolor   50.0  4.260  0.469911  3.0  4.0  4.35  4.600  5.1
Iris-virginica    50.0  5.552  0.551895  4.5  5.1  5.55  5.875  6.9

In [33]:
iris.groupby("Species")["PetalWidthCm"].describe()

                 count   mean       std  min  25%  50%  75%  max
Species
Iris-setosa       50.0  0.244  0.107210  0.1  0.2  0.2  0.3  0.6
Iris-versicolor   50.0  1.326  0.197753  1.0  1.2  1.3  1.5  1.8
Iris-virginica    50.0  2.026  0.274650  1.4  1.8  2.0  2.3  2.5

In [34]:
sepalArea = iris["SepalLengthCm"] * iris["SepalWidthCm"]
petalArea = iris["PetalLengthCm"] * iris["PetalWidthCm"]
iris = pd.concat([iris, pd.Series(sepalArea, name='SepalAreaCm'), pd.Series(petalArea, name='PetalAreaCm')], axis=1)

In [36]:
iris.groupby("Species")["SepalAreaCm"].describe()

,count,mean,std,min,25%,50%,75%,max
Species,,,,,,,,
Iris-setosa,50.0,17.2088,2.947688,10.35,15.0400,17.000,19.1550,25.08
Iris-versicolor,50.0,16.5262,2.866882,10.00,14.3475,16.385,18.4950,22.40
Iris-virginica,50.0,19.6846,3.458783,12.25,17.4300,20.060,21.4125,30.02

In [37]:
iris.groupby("Species")["PetalAreaCm"].describe()

                 count     mean       std   min     25%     50%    75%    max
Species
Iris-setosa       50.0   0.3628  0.183248  0.11  0.2650   0.300   0.42   0.96
Iris-versicolor   50.0   5.7204  1.368403  3.30  4.8600   5.615   6.75   8.64
Iris-virginica    50.0  11.2962  2.157412  7.50  9.7175  11.445  12.79  15.87